{% extends 'base.html.twig' %}

{% block body %}
 <div class="alert alert-success">
     {% if user.imageName %}
     <img class="rounded-circle" width="50" height="50" src="{{ vich_uploader_asset(user, 'imageFile') }}" alt="User Image">
     {% endif %}
     {{ user.name }} {{ user.email}} a {{ user.tel }} ans
  {% if app.user %}
     <p>Created By : {{ app.user.email }}</p>
  {% endif %}
 </div>
{% endblock %}

{% block title %}
 {{ user.name}}
{% endblock %}

