{# user/edit.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Edit User</h1>

    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.email) }}
        {{ form_row(form.tel) }}
       
        <button type="submit">Save Changes</button>
    {{ form_end(form) }}
{% endblock %}