<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from pixner.net/hyipland/demo/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 13 Mar 2024 20:51:05 GMT -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Flayes - HYIP Investment HTML Template</title>

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/all.min.css">
    <link rel="stylesheet" href="assets/css/animate.css">
    <link rel="stylesheet" href="assets/css/odometer.css">
    <link rel="stylesheet" href="assets/css/nice-select.css">
    <link rel="stylesheet" href="assets/css/owl.min.css">
    <link rel="stylesheet" href="assets/css/jquery-ui.min.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/flaticon.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="assets/images/favicon.png" type="image/x-icon">
</head>

<body>
<div class="main--body">
<!--=======Header-Section Starts Here=======-->
        <header class="header-section">
            <div class="header-top">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-6">
                            <ul class="support-area">
                                <li>
                                    <a href="#0"><i class="flaticon-support"></i>Support</a>
                                </li>
                                <li>
                                    <a href="Mailto:info@Flayes.com"><i class="flaticon-email"></i><span class="__cf_email__" data-cfemail="fb92959d94bb9382928b979a959fd5989496">[email&#160;protected]</span> </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-6">                            
                            <ul class="cart-area">
                                <li>
                                    <i class="flaticon-globe"></i>
                                    <div class="select-area">
                                        <select class="select-bar">
                                            <option value="en">English</option>
                                            <option value="bn">Bangla</option>
                                            <option value="sp">Spanish</option>
                                        </select>
                                    </div>
                                </li>
                                <li>
                                    <a href="{{ path('app_login') }}">Sign In</a>
                                </li>
                                <li>
                                    <a href="{{ path('app_register') }}">Sign Up</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom">
                <div class="container">
                    <div class="header-area">
                        <div class="logo">
                            <a href="index.html">
                                <img src="{{asset('assets/images/logo.png')}}" alt="#">
                            </a>
                        </div>
                        <ul class="menu">
                           
        <li><a href="{{ path('app_home') }}">Home</a></li>
    
                            <li>
                                <a href="">Projects</a>
                            </li>
                            <li>
                                <a href="">Offers</a>
                            </li>
                            <li>
                                <a href="">Events</a>
                            </li>
                            <li>
                                <a href="">Forum</a>
                            </li>
                            <li>
                                <a href="">Faqs</a>
                            </li>
   
        <li><a href="{{ path('app_reclamation_new') }}">Contact</a></li>
   

                          {% if app.user %}
    <li class="pr-0">
        <a href="{{ path('app_logout') }}" class="button" style="text-align: center;">Logout</a>
    </li>
    <li class="pr-0">
        <a href="{{ path('app_user_edit', {'id': app.user.id}) }}" style="text-align: center;">
             {% if app.user.imageName starts with 'https://' %}
    <div>
        <img  src="{{ app.user.imageName }}" alt="profil" style="width: 50px; height: 50px; border-radius: 50%;">
    </div>
{% else %}
    <div>
        <img  src="{{ vich_uploader_asset(app.user, 'imageFile') }}" alt="Uploaded Image" style="width: 50px; height: 50px; border-radius: 50%;">
    </div>
{% endif %}
        </a>
    </li>
{% else %}
    <li class="pr-0">
        <a href="{{ path('app_register') }}" class="button" style="text-align: center;">Sign up</a>
    </li>
{% endif %}

                        </ul>
                        <div class="header-bar d-lg-none">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!--=======Header-Section Ends Here=======-->
        <!--=======Banner-Section Starts Here=======-->
        <section class="banner-section" id="home">
            <div class="banner-bg d-lg-none">
                <img src="assets/images/banner/banner-bg2.jpg" alt="banner">
            </div>
            <div class="banner-bg d-none d-lg-block bg_img" data-background="assets/images/banner/banner.jpg">
                <div class="chart-1 wow fadeInLeft" data-wow-delay=".5s" data-wow-duration=".7s">
                    <img src="assets/images/banner/chart1.png" alt="banner">
                </div>
                <div class="chart-2 wow fadeInDown" data-wow-delay="1s" data-wow-duration=".7s">
                    <img src="assets/images/banner/chart2.png" alt="banner">
                </div>
                <div class="chart-3 wow fadeInRight" data-wow-delay="1.5s" data-wow-duration=".7s">
                    <img src="assets/images/banner/chart3.png" alt="banner">
                </div>
                <div class="chart-4 wow fadeInUp" data-wow-delay="2s" data-wow-duration=".7s">
                    <img src="assets/images/banner/clock.png" alt="banner">
                </div>
            </div>
            <div class="animation-area d-none d-lg-block">
                <div class="plot">
                    <img src="assets/images/banner/plot.png" alt="banner">
                </div>
                <div class="element-1 wow fadeIn" data-wow-delay="1s">
                    <img src="assets/images/banner/light.png" alt="banner">
                </div>
                <div class="element-2 wow fadeIn" data-wow-delay="1s">
                    <img src="assets/images/banner/coin1.png" alt="banner">
                </div>
                <div class="element-3 wow fadeIn" data-wow-delay="1s">
                    <img src="assets/images/banner/coin2.png" alt="banner">
                </div>
                <div class="element-4 wow fadeIn" data-wow-delay="1s">
                    <img src="assets/images/banner/coin3.png" alt="banner">
                </div>
                <div class="element-5 wow fadeIn" data-wow-delay="1s">
                    <img src="assets/images/banner/coin4.png" alt="banner">
                </div>
                <div class="element-6 wow fadeIn" data-wow-delay="1s">
                    <img src="assets/images/banner/coin5.png" alt="banner">
                </div>
                <div class="element-7 wow fadeIn" data-wow-delay="1s">
                    <img src="assets/images/banner/coin6.png" alt="banner">
                </div>
                <div class="element-8 wow fadeIn" data-wow-delay="1s">
                    <img src="assets/images/banner/sheild.png" alt="banner">
                </div>
                <div class="element-9 wow fadeIn" data-wow-delay="1s">
                    <img src="assets/images/banner/coin7.png" alt="banner">
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-6 offset-lg-6 offset-xl-7">
                        <div class="banner-content">
                            <h1 class="title">Simply <span>Profitably </span> Conveniently</h1>
                            <p>
                                A Profitable platform for high-margin investment
                            </p>
                            <div class="button-group">
                                <a href="{{ path('app_register') }}" class="custom-button">Get Started Now!</a>
                                <a href="https://www.youtube.com/watch?v=GT6-H4BRyqQ" class="popup video-button"><i class="flaticon-play"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--=======Banner-Section Ends Here=======-->


<section class="section hero" id="home" style="background-image: url('./assets/images/hero-bg.png'); margin: 0%;" aria-label="hero">
    <div class="container1">
        <div class="col">
            <h1>Reset Password</h1>
            {{ form_start(requestPassForm) }}
                {{ form_row(requestPassForm.email) }}
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
            {{ form_end(requestPassForm) }}
        </div>
    </div>

</section>


<!-- ==========Footer-Section Starts Here========== -->
        <footer class="footer-section" style="padding:4rem 0;">
            <div class="newslater-section padding-bottom">
                <div class="container">
                    <div class="newslater-area">
                        <div class="newslater-content padding-bottom padding-top">
                            <span class="cate">SUBSCRIBE TO Flayes</span>
                            <h3 class="title">To Get Exclusive Benefits</h3>
                            <form class="newslater-form">
                                <input type="text" placeholder="Enter Your Email Here" required>
                                <button type="submit">subscribe</button>
                            </form>
                        </div>
                        <div class="newslater-thumb">	
                            <img src="{{asset('assets/images/footer/footer.png')}}" alt="footer">
                            <div class="coin-1">
                                <img src="{{asset('assets/images/footer/Coin_01.png')}}" alt="footer">
                            </div>
                            <div class="coin-2">
                                <img src="{{asset('assets/images/footer/Coin_02.png')}}" alt="footer">
                            </div>
                            <div class="coin-3">
                                <img src="{{asset('assets/images/footer/Coin_03.png')}}" alt="footer">
                            </div>
                            <div class="coin-4">
                                <img src="{{asset('assets/images/footer/Coin_04.png')}}" alt="footer">
                            </div>
                            <div class="coin-5">
                                <img src="{{asset('assets/images/footer/Coin_05.png')}}" alt="footer">
                            </div>
                            <div class="coin-6">
                                <img src="{{asset('assets/images/footer/Coin_06.png')}}" alt="footer">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="footer-top">
                    <ul class="links">
                        <li>
                            <a href="">About</a>
                        </li>
                        <li>
                            <a href="">Contact</a>
                        </li>
                        <li>
                            <a href="">FAQ</a>
                        </li>
                        <li>
                            <a href="">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-bottom">
                    <div class="footer-bottom-area">
                        <ul class="social-icons">
                            <li>
                                <a href="">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#0" class="active">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#0">
                                    <i class="fab fa-pinterest-p"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#0">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

	</body>
</html>



